# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore build directories
/build/
/dist/

# Ignore logs
*.log

# trained models
*.h5
*.tflite

# others
/AIvenv*
/.ipynb_checkpoints/
CANS-*/
/transfer-learning-weights/
/.old-stuff/
